@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
  font-family: 'Readex Pro', sans-serif;
} */


.secondary-button:hover {
  color: #ea580c;
  background-color: white;
  border: solid 2px #fbbf24;
}
/*-------- Global --------*/
/* @import url('https://fonts.googleapis.com/css2?family=Readex+Pro:wght@200;300;400;500;600;700;800&display=swap'); */
.secondary-button {
  width: 70%;
  color: white;
  background-color: #ea580c;
  font-weight: 500;
  font-size: 15px;
  text-transform: uppercase;
  padding: 12px 30px;
  border-radius: 30px;
  border: solid 2px #ea580c;
  margin: 10px;
  margin-left: 70px;
}

/*-------- Dashboard  --------*/
.dashboard {
  display: flex;
  justify-content: space-between;
  width: 100vw; /* Full width of the viewport */
  background-image: url('../src/assets/bg.png');
  background-size: cover;

}

.dashboard .swipe-container {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.swipe {
  position: absolute;
}

.swipe-info {
  color:white;
  font-size: x-large;
  font-weight: 700;
  
}

.dashboard .card-container {
  width: 400px;
  height: 650px;
}

.card {
  width: 400px;
  height: 650px;
  border-radius: 30px;
  background: white;
  background-size: cover;
  background-position: center;
}

.card h3 {
  margin-top: 0px;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #030712;
  font-family: Arial, Helvetica, sans-serif;
  /* font bold */
  font-weight: 600;
  font-size: 45px;
}

.dashboard .swipe-info {
  position: absolute;
  bottom: 0;
  padding: 10px;
}

/*-------- Chat Container --------*/
.chat-container {
  background-color: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
  rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  width: 30%;
  text-align: left;
  z-index: 1;
  
}

.chat-container .chat-container-header {
  background: rgb(255,49,49);
background: linear-gradient(90deg, rgba(255,49,49,1) 0%, rgba(255,145,77,1) 100%);
  height: 100px;
  font-size: x-large;
  font-weight: 500;
  color: white;
  display: flex;
  justify-content:space-between;
  align-items: center;
}

.chat-container .option {
  border: none;
  background-color: rgb(255, 255, 255);
  border-bottom: solid 4px #fbbf24;
  font-size: 20px;
  margin: 2px;
  padding: 10px;
}

.user-message{
  font-size: 20px;
  padding: 10px;
  border-radius: 5px;
  background-color: #d6d3d1;

  margin: 5px;
  text-align: left;
}
.message-text{
  font-size: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgb(255, 255, 255);

  margin: 5px;
  text-align: right;
}

.chat-container .option:disabled {
  border-bottom: solid 4px rgb(187, 187, 187);
}

.chat-container .profile,
.chat-container .log-out-icon {
  display: flex;
  align-items: center;
  padding: 20px;
  color: rgb(255, 255, 255);
}

.img-container {
  height: 50px;
  width: 50px;
  border-radius: 15px;
  overflow: hidden;
  margin: 5px;
}

.img-container img {
  width: 100%;
}

/*-------- Chat Display --------*/
.chat-display,
.matches-display {
  padding: 20px;
  height: 50vh;
  overflow-y: auto;
}

/*-------- Chat Input --------*/
.chat-input {
  padding: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  display: flex;
  flex-direction: column;
}