@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;500;800&display=swap');

*{
    padding:0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}


.flex{
    display: flex;
    align-items: center;

}
.grid{
    display:grid;
    align-items: center;
    gap: 1.5 rem;
}
html{
    font-size: 90%;
}

a{
    text-decoration: none;

}

li{
    list-style: none;
}

.icon{
    font-size: 1.25rem;
    
}

img, video{
    height: auto;
    width: 100%;
}

.message{
    display: none;
}

.showMessage{
    display: block;
    color: white;
    background: red;
    border-radius:  3px;
    text-align: center;
}

.btn{
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 8px;
    padding: .8rem 1rem;
    padding: grey;
}

.btn .icon{
    margin-left:  .5rem;
}
.btn:hover{
    color:var(--primaryColor);
    background: orange;
}

.loginPage{
    height: 100vh;
    width: 100%;
    margin: auto;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 7px 50px rgb(214,223,213);

    .container{
        height: 75vh;
        width: 60%;
        margin: auto;
        justify-content: space-between;
        border-radius: 10px;
        background-color: white;
        }
    
        .formDiv{
            flex-basis:  50%;
            margin: auto;
            flex-direction: column;
            gap: 1.5rem;
            transform: translate(-1rem);

            .headerDiv{
                text-align: center;
                padding-bottom:1.5rem ;

                img{
                    width: 60px;
                    padding-bottom: .5rem;
                }
                h3{
                    font-size: 25px;
                    color: black;
                    font-weight: 600;
                }

            }
            .form{
                gap: 5 rem;

                .inputDiv{
                    .icon{
                        color: var(--greyText);
                    
                        input{
                            background: none;
                            outline: none;
                            border: none;
                            width: 200px;
                        }

                        label{
                            color: black;
                            font-weight: 400;
                            font-size: 14px;
                            padding: .5rem 0;
                            display: block;
                        }

                        .input{
                            gap: .5rem;
                            padding: 1 rem;
                            background: orange;
                            border-radius: 10px;
                        }
                    }
                    .btn{
                        padding: .8rem;
                        background: red;
                        border-radius: 10px;
                        align-items: center;
                        justify-content: center;

                        font-size: 16px;
                    }
                }
            }

        }

}